{% extends "base.html" %}
{% block content %}
<section class="about_section layout_padding">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="detail-box">
					<div class="heading_container">
						<h2>
							About Us
						</h2>
						<!--<img src="{{ url_for('static', filename='images/plug.png') }}" alt="">-->
					</div>
					<p>
					At AgriXpert, we're dedicated to empowering farmers with precise, data-driven fertilizer recommendations tailored to your soil, crop, and climate conditions. Our platform helps you make informed decisions to maximize yields, reduce costs, and protect the environment.
					</p>
					<a href="{{ url_for('faq') }}">
						FAQs
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="img_container">
					<div class="img-box b1">
						<img src="{{ url_for('static', filename='images/about-img1.png') }}" alt="" />
					</div>
					<div class="img-box b2">
						<img src="{{ url_for('static', filename='images/about-img2.png') }}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
